<div class="container">
{{if .authenticated}}
    <div class="container my-3 bg-dark-subtle rounded p-4 w-75">
        {{if .errMsg}}
        <div class="container alert alert-danger text-center align-items-center w-75">
            <p class="fs-4">{{.errMsg}}</p>
        </div>
        {{end}}
        <h2 class="my-1">Add new URL</h2>
        <form method="POST" action="/add">
            <div class="container text-center align-items-center my-3">
                <div class="row justify-content-md-center">
                    <input class="col form-inline rounded-pill py-2 px-3 mx-1" type="text" name="target" placeholder="https://go.dev" required/>
                    <input class="col col-md-auto form-inline rounded-pill py-2 px-3 mx-1" type="password" name="password" placeholder="Password (optional)"/>
                    <button class="col col-md-auto btn btn-primary rounded-pill px-3 mx-1" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <h2>All URLs</h2>
        {{template "partials/urltable" .}}
    </div>
{{else}}
    <h2>CutLink!</h2>
    <h4>A privacy and anonymity focused URL shortener</h4>
{{end}}
</div>
