{{if .authenticated}}
<h2>Add new URL</h2>
<form method="POST" action="/add">
    <div>
        <input class="form-inline rounded-pill py-2 px-2 col" type="text" name="target" id="url" placeholder="https://go.dev" required/>
        <button class="btn btn-primary rounded-pill px-3" type="submit">Submit</button>
    </div>
</form>

<p></p>

<h2>All URLs</h2>
{{template "partials/urltable" .}}
{{else}}
<div class="container">
    <h2>CutLink!</h2>
    <h4>A privacy and anonymity focused URL shortener</h4>
</div>
{{end}}
