<div>
{{if .authenticated}}
    <div class="container bg-dark-subtle rounded p-3 my-3 w-75">
        <h2 class="my-2">Add new URL</h2>

        {{if .errMsg}}
        <div class="container alert alert-danger text-center align-items-center">
            <p class="fs-4">{{.errMsg}}</p>
        </div>
        {{end}}

        <form method="POST" action="/add" class="container">
            <div class="col form-floating mb-3">
                <input class="col form-control rounded" type="text" name="target" required/>
                <label for="floatingInput">URL</label>
            </div>

            <div class="col form-floating mb-3">
                <input class="col col-md-auto form-control rounded" type="password" name="password"/>
                <label for="floatingInput">Password (optional)</label>
            </div>

            <button class="col col-md-auto btn btn-primary rounded" type="submit">Submit</button>
        </form>
    </div>

    <div class="container">
        <h2>All URLs</h2>
        {{template "partials/urltable" .}}
    </div>
{{else}}
    <h2>CutLink!</h2>
    <p class="fs-4">A privacy and anonymity focused URL shortener</p>
{{end}}
</div>
