[Unit]
Description=Cut you links
After=network.target nss-lookup.target

[Service]
Type=simple
User=root
ExecStartPre=mkdir -p /usr/local/share/cutlink
ExecStart=/usr/local/bin/cutlink
Restart=always

[Install]
WantedBy=multi-user.target
