<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>{{.title}} - Cutlink</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">

        <script src="/static/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/htmx.min.js"></script>
    </head>

    <body>
        {{embed}}
    </body>
</html>

