{{define "nav"}}
<nav>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div>
                <a class="d-inline-flex link-body-emphasis text-decoration-none logo" href="/">CutLink!</a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-pills">
                <li class="nav-item">
                    <a href="https://github.com/thehxdev/cutlink" target="_blank" rel="noopener noreferrer" class="nav-link active" aria-current="page">Github</a>
                </li>
            </ul>
        </header>
    </div>
</nav>
{{end}}
