{{define "urlrow"}}
<tr hx-swap-oob="afterbegin:#urls-table-body">
    <td scope="row">#{{.ID}}</td>
    <td scope="row" style="color: #9A9AFF">{{.Target}}</td>
    <td scope="row">{{.Hash}}</td>
    <td scope="row">{{.Clicked}}</td>
    <td scope="row">{{.Created}}</td>
    <td scope="row"><a href="/r/{{.Hash}}" target="_blank" rel="noopener noreferrer">URL</a></td>
    <td scope="row">
        <div>
            <button class="btn btn-danger delete-button px-3 rounded-pill" hx-delete="/api/delete/{{.Hash}}">Delete</button>
        </div>
    </td>
</tr>
{{end}}
